.pame-1 h1 {
    text-align: center;
}

.distribucion h2 {
    color: #e27933;
    text-align: center;
}

.distribucion .tabla-1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.distribucion .tabla-1 table {
    background-color: #ffffff;
    text-align: left;
    width: 50%;
    height: 100%;
    border: 1px solid #000000;
}

.distribucion .tabla-1 table tbody tr:nth-child(even) {
    background-color: #aca0a073;
}

.distribucion .tabla-1 table tbody tr th {
    border-bottom: 5px solid black;
    background-color: #212529;
    color: #ffffff;
    padding: 5px;
}

.distribucion .tabla-1 table tbody tr td {
    border: 1px solid #000000;
    padding: 2px;
}

.distribucion .tabla-1 .entreno-1 {
    text-align: center;
}

.distribucion .tabla-2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.distribucion .tabla-2 table {
    background-color: #ffffff;
    text-align: left;
    width: 50%;
    height: 100%;
    border: 1px solid #000000;
}

.distribucion .tabla-2 table tbody tr:nth-child(even) {
    background-color: #aca0a073;
}

.distribucion .tabla-2 table tbody tr th {
    border-bottom: 5px solid black;
    background-color: #212529;
    color: #ffffff;
    padding: 5px;
}

.distribucion .tabla-2 table tbody tr td {
    border: 1px solid #000000;
    padding: 2px;
}

.distribucion .tabla-2 .entreno-2 {
    text-align: center;
}

.distribucion .tabla-3 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.distribucion .tabla-3 table {
    background-color: #ffffff;
    text-align: left;
    width: 50%;
    height: 100%;
    border: 1px solid #000000;
}

.distribucion .tabla-3 table tbody tr:nth-child(even) {
    background-color: #aca0a073;
}

.distribucion .tabla-3 table tbody tr th {
    border-bottom: 5px solid black;
    background-color: #212529;
    color: #ffffff;
    padding: 5px;
}

.distribucion .tabla-3 table tbody tr td {
    border: 1px solid #000000;
    padding: 2px;
}

.distribucion .tabla-3 .entreno-3 {
    text-align: center;
}

.distribucion .tabla-4 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.distribucion .tabla-4 table {
    background-color: #ffffff;
    text-align: left;
    width: 50%;
    height: 100%;
    border: 1px solid #000000;
}

.distribucion .tabla-4 table tbody tr:nth-child(even) {
    background-color: #aca0a073;
}

.distribucion .tabla-4 table tbody tr th {
    border-bottom: 5px solid black;
    background-color: #212529;
    color: #ffffff;
    padding: 5px;
}

.distribucion .tabla-4 table tbody tr td {
    border: 1px solid #000000;
    padding: 2px;
}

.distribucion .tabla-4 .entreno-4 {
    text-align: center;
}

.distribucion .tabla-5 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.distribucion .tabla-5 table {
    background-color: #ffffff;
    text-align: left;
    width: 50%;
    height: 100%;
    border: 1px solid #000000;
}

.distribucion .tabla-5 table tbody tr:nth-child(even) {
    background-color: #aca0a073;
}

.distribucion .tabla-5 table tbody tr th {
    border-bottom: 5px solid black;
    background-color: #212529;
    color: #ffffff;
    padding: 5px;
}

.distribucion .tabla-5 table tbody tr td {
    border: 1px solid #000000;
    padding: 2px;
}

.distribucion .tabla-5 .entreno-5 {
    text-align: center;
}

.distribucion .tabla-6 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.distribucion .tabla-6 table {
    background-color: #ffffff;
    text-align: left;
    width: 50%;
    height: 100%;
    border: 1px solid #000000;
}

.distribucion .tabla-6 table tbody tr:nth-child(even) {
    background-color: #aca0a073;
}

.distribucion .tabla-6 table tbody tr th {
    border-bottom: 5px solid black;
    background-color: #212529;
    color: #ffffff;
    padding: 5px;
}

.distribucion .tabla-6 table tbody tr td {
    border: 1px solid #000000;
    padding: 2px;
}

.distribucion .tabla-6 .entreno-6 {
    text-align: center;
}

/*****MEDIA-QUERY-RUTINAS*****/
@media screen and (max-width: 768px) {
    .distribucion .tabla-1 {
        font-size: 12px;
    }

    .distribucion .tabla-2 {
        font-size: 12px;
    }

    .distribucion .tabla-3 {
        font-size: 12px;
    }

    .distribucion .tabla-4 {
        font-size: 12px;
    }

    .distribucion .tabla-5 {
        font-size: 12px;
    }

    .distribucion .tabla-6 {
        font-size: 12px;
    }
}